  @import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

body {
    margin:0px;
	padding:0px;
	background-color:#161616;	
}

/************* HEADER*************/
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

header {
	padding:30px 50px;
	position:relative;
	width:100%;
	height: 100vh;
	box-sizing: border-box;
    background-color: rgb(211, 237, 244);
	background-size: 1130px;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-image: url("../image/bg-profile.png");
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family: baskervville;
    letter-spacing: 2px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.05);
    z-index: 1;
}
 
.menu {
	display: flex;
}

.menu li a {
	padding: 10px 15px;
    color: #6c707c;
    font-size: 1em;
}

.language a{
	color:#292929;
}

.logo {
	font-size: 25px;
	font-weight: bold;
	color:#292929;
	font-family:Poppins;
}

.toggle {
	display: none;
}

.menu li a:hover,
.Accueil-btn {
    background-color: #292929;
    color:#FFFFFF !important;
    font-weight: 700;
    transition: all ease 0.5s;
    border-radius: 20px;
}

.prenom {
    color: #08bb97;
    font-style: normal;
}

.speech {
	font-family: baskervville;
    width: 35em;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
}

.speech p:nth-child(1),.speech .description{
	color: #6c707c;
    font-size: 1.1em;
}

.speech h1 {
    font-family: poppins;
    font-size: 2.5em;
    margin:0px;
    letter-spacing: 2.5px;
    color: #292929;
}

.cv-btn {
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #FFFFFF;
}

.cv-btn:hover {
	background-color: #131313;
	transition: all ease 0.5s;
}
 
.social {
	position: absolute;
	left: 50px;
	bottom: 50px;
	display: flex;
}

.social a {
	margin: 6px 12px;
}

.social i {
	color:rgba(18,17,17,0.40);
	font-size: 1em;
}

.social a:hover i {
	color:#08bb97;
	transition: all ease 0.5s;
}

/*************A Propos*************/
.about {
	width:100%;
	height: 100vh;
	background-color:#161616;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;
}

.about-text {
	font-family: poppins;
	width: 50%;
}

.about-text h1 {
	font-size: 5rem;
	color:#17d1ac;
}

.about-text h2 {
	font-size: 3rem;
	color:#FFFFFF;
	font-weight: 400;
}

.about-text h1,h2 {
	margin: 0px;
	padding: 0px;
}

.about-text p {
	font-size: 1.2rem;
	color:rgba(255,255,255,0.90);
	
}

.about-text button {
	width: 180px;
	height: 40px;
	border-radius: 20px;
	border: none;
	outline: none;
	background-color:#17d1ac;
}

.about-text button:hover {
	background-color: #FFFFFF;
	transition: all ease 0.3s;
}

/*************Services*************/
.services{
    width:100%;
    height:100vh;
    box-sizing: border-box;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px ;
    background-color: rgb(211, 237, 244);

}

.s-heading h1{
    color:#17d1ac;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;

}
.s-heading p{
    color:rgba(255,255,255,0.30);
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}
.s-heading{
    text-align: center;
    margin: 20px 0px;
}
.s-box{
    background-color: #2B2B2B;
    width:350px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    position: relative;
}
.b-container{
    display: flex;
    justify-content: center;
    align-content: center;


}
.s-b-img{
    width: 100%;
    height: 70%;

}
.s-b-img img{
    width:100%;
    height: 100%;

}
.s-b-text{
    width: 100%;
    height: 30%;
    background-color:#1E1E1E;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.s-b-text a{
    margin: 0px;
    color:#FFFFFF;
    font-size: 1.1rem;
    font-family: calibri;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.s-b-text a:hover{
    color:rgba(255,255,255,0.50)
}
.s-title{
    font-family: calibri;
    color:#FFFFFF;
    background-color: #151515;
    padding: 10px 15px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}



/*body {
    margin: 0;
    padding: 0;
    background-color: rgb(211, 237, 244);
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

header {
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    position: relative;
    /*background-image: url('../bg.png');
    background-repeat: no-repeat;
    background-size: 1330px;
    background-position: right;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family: baskervville;
    letter-spacing: 2px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.05);
    z-index: 1;
}

.menu {
    display: flex;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: #292929;
}

.toggle{
	display: none;
}

.speech{
    font-family: baskervville;
    width: 35em;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
}

.cv-btn {
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #FFFFFF;
}

.social{
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
}

.prenom {
    color: #17d1ac;
    font-style: normal;
}

.social a {
    margin: 6px 12px;
}

.social i {
    color: rgba(18, 17, 17, 0.4);
    font-size: 1em;
}


.language a {
    color: #292929;
}

.speech h1 {
    font-family: poppins;
    font-size: 2.5em;
    margin:0px;
    letter-spacing: 2.5px;
    color: #292929;
}

.menu li a {
    padding: 10px 15px;
    color: #6c707c;
    font-size: 1em;
}

.cv-btn:hover {
    background-color: #131313;
    transition: all ease 0.5s;
}

.menu li a:hover,
.Accueil-btn{
    background-color: #292929;
    color:#FFFFFF !important;
    font-weight: 700;
    transition: all ease 1s;
}

.speech p:nth-child(1),
.speech .description {
    color: #6c707c;
    font-size: 1.1em;
}

.social a:hover i {
    color: #17d1ac;
    transition: all ease 0.5s;
}


.about{
    width: 100%;
    height: 100hv;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
}
*/





